
body {
    font-family: 'Raleway', sans-serif;
    color: gray;
    font-size: 14px;    
    background-image: url(../images/full-bloom.png);
}

header {
    border-bottom: solid 1.5px lightgrey;
    overflow: hidden;
    height: 70px;
    background-color: white;
}

h1{
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 30px;
    color: white;
    height: 70px;
    padding: 10px;
}

span {
    background-color: palevioletred;
    padding: 30px;
}

a {
    font-family: 'Raleway', sans-serif;
    color: palevioletred;
    font-size: 12px;
}

h2 {
    color:palevioletred;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 24px;
}

hr.headerline {
    border:1px solid lightgrey
}

.mr-3 {
    padding: 10px;
    margin: 0px
}

.media-body {
    padding: 10px;
}

.portfolio-container {
    position: relative;
}
  
.portfolio-image {
    padding:10px;
    height: auto;
}

  .portfolio-title {
    position: absolute;
    top: 200px;
    left: 0px;
    margin:10px;
    background-color:palevioletred;
    color: white;
    width: 291px;
    padding:20px;
    text-align: center;
}

footer {
    background-color:#777777;
    height: 40px;
    border-top: 8px solid palevioletred;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.footer-content {
    color: white;
    font-size:xx-small;
    text-align: center;
    padding:10px;
}