
body {
    font-family: 'Raleway', sans-serif;
    color: gray;
    font-size: 12px;    
    background-image: url(images/crossline-dots.png);
}

span {
    background-color: palevioletred;
    padding: 30px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 30px;
    color: white
}

a {
    font-family: 'Raleway', sans-serif;
    color: palevioletred;
}

header {
    border-bottom: solid 1.5px lightgrey;
    overflow: auto;
    height: 70px;
}

h2 {
    color:palevioletred;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    margin-left: 10px;
}

hr.headerline {border:1px solid lightgrey
}

.mr-3 {padding: 0px;
    margin: 0px}

.media-body {padding: 10px;}