body {
    font-family: 'Raleway', sans-serif;
    color: gray;
    font-size: 12px;    
    background-image: url(/images/crossline-dots.png);
}

.main-container {
    align-self: center;
    margin: 20px auto;
    background-color:white;
    border-width: 15px;

}

span {
    background-color: palevioletred;
    padding: 25px;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    color: white
}

.navbar {
    font-family: 'Raleway', sans-serif;
    color: palevioletred;
}

a {
    font-family: 'Raleway', sans-serif;
    color: palevioletred;
}