body {
    font-family: 'Raleway', sans-serif;
    color: gray;
    font-size: 12px;    
    background-image: url(images/crossline-dots.png);
}

.container {
    margin: 10px auto;
    background-color:white;
    border-width: 15px;
    height: 60px;
}

span {
    background-color: palevioletred;
    padding: 25px;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    color: white
}

a {
    font-family: 'Raleway', sans-serif;
    color: palevioletred;
}

h1 {
        font-family:'Georgia', Times, 'Times New Roman', serif;
        font-size: large
} 
    
header {
    background-color:white;
    border-bottom: 1.5px solid lightgray;
}

h2 {
    color:palevioletred;
    font-family:'Georgia', Times, 'Times New Roman', serif;}

hr.headerline {border:1px solid lightgrey
}